<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>caculate</servlet-name>
        <servlet-class>caculate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>controller.student.list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>controller.student.create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>controller.student.remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>controller.student.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>filter</servlet-name>
        <servlet-class>controller.student.filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>controller.student.detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sublist</servlet-name>
        <servlet-class>controller.subject.list</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>caculate</servlet-name>
        <url-pattern>/calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/student/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/student/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/student/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/student/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>filter</servlet-name>
        <url-pattern>/student/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/student/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sublist</servlet-name>
        <url-pattern>/subject/list</url-pattern>
    </servlet-mapping>
</web-app>
